<div class="list">
  <ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/bands">Bands</a></li>
    <li><a href="/lounges">Lounge</a></li>
    <li><a href="/tickets">Tickets</a></li>
  </ul>
</div>