<nav>
  <div class="wrap-nav zerogrid">
    <div class="menu">
      <ul>
        <li class="current"><a href="/">Home</a></li>
        <li><a href="/users">Bands</a></li>
        <li><a href="gallery.html">Concerts</a></li>
        <li><a href="single.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li class="admin-link"><a href="/users">Admin</a></li>
      </ul>
    </div>

    <div class="minimenu"><div>MENU</div>
    <select onchange="location=this.value">
      <option></option>
      <option value="index.html">Home</option>
      <option value="blog.html">Bands</option>
      <option value="gallery.html">Concerts</option>
      <option value="single.html">About</option>
      <option value="contact.html">Contact</option>
      <option value="/users">Admin</option>
    </select>
  </div>    
</div>
</nav>